body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.section1 {
  position: relative;
  background-image: url(../Images/Ai.jfif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navimg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navteam3 a {
  transition: all ease 1s;
  font-size: 1.4rem;
  margin-left: 15px;
}

.navteam3 a:hover {
  transform: scale(1.4);
  color: black !important;
}

.previewsection {
  padding-bottom: 100px;
}

.previewsectionrow1 {
  margin: 50px;
  text-align: center;
}

.navbackgroundmo {
  background-color: rgba(10, 157, 170, 0.647) !important;
}

.previewsectionrow1 h1 {
  margin-bottom: 10px;
}

.titleline {
  width: 4rem;
  height: 7px;
  color: black;
  background-color: black;
  margin: auto;
  border-radius: 20px;
  transition: width 2s;
}

.titleline:hover {
  width: 9rem;
}

.previewsectionrow2 {
  margin: 50px;
  text-align: center;
}

.previewsectionrow2 .mocol {
  background-color: rgba(136, 158, 255, 0.5);
}


.intro-title {
  font-size: 4.5rem;
  color: #fff;
  font-weight: 600;
}

.intro-title::after {
  transition: all ease 1s;
  content: 'Team 3 Hackathon';
}

.intro-title:hover::after {
  transform: scale(.5);
  font-size: 1.5rem;
  content: 'Tech:Dina - Mostafa - Zain - Mo Shehab - Abd ElRahman - Mohamed';

}

.intro-subtitle {
  color: #fff;
  font-size: 2.5rem;
}

.intro-subtitle {
  color: #fff;
  font-size: 2.5rem;
}

.intro-subtitle::after {
  content: "I";
  animation: typingp;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}


@keyframes typingp {
  0% {
      content: "C|";
  }

  0.5% {
      content: "CE|";
  }

  1% {
      content: "CEO|";
  }

  1.5% {
      content: "CEO D|";
  }

  2% {
      content: "CEO De|";
  }

  2.5% {
      content: "CEO Dev|";
  }

  3% {
      content: "CEO DevF|";
  }

  3.5% {
      content: "CEO DevFo|";
  }

  4% {
      content: "CEO DevFol|";
  }

  4.5% {
      content: "CEO DevFoli|";
  }

  5% {
      content: "CEO DevFolio|";
  }

  5.5% {
      content: "CEO DevFolio|";
  }

  6% {
      content: "CEO DevFoli|";
  }

  6.5% {
      content: "CEO DevFol|";
  }

  7% {
      content: "CEO DevFo|";
  }

  7.5% {
      content: "CEO DevF|";
  }

  8% {
      content: "CEO Dev|";
  }

  8.5% {
      content: "CEO De|";
  }

  9% {
      content: "CEO D|";
  }

  9.5% {
      content: "CEO|";
  }

  10% {
      content: "CE|";
  }

  10.5% {
      content: "C|";
  }

  11% {
      content: "|";
  }

  11.5% {
      content: "W|";
  }

  12% {
      content: "We|";
  }

  12.5% {
      content: "Web|";
  }

  13% {
      content: "Web |";
  }

  13.5% {
      content: "Web D|";
  }

  14% {
      content: "Web De|";
  }

  14.5% {
      content: "Web Dev|";
  }

  15% {
      content: "Web Deve|";
  }

  15.5% {
      content: "Web Devel|";
  }

  16% {
      content: "Web Develo|";
  }

  16.5% {
      content: "Web Develop|";
  }

  17% {
      content: "Web Develope|";
  }

  17.5% {
      content: "Web Developer|";
  }

  18% {
      content: "Web Developer|";
  }

  18.5% {
      content: "Web Develope|";
  }

  19% {
      content: "Web Develop|";
  }

  19.5% {
      content: "Web Develo|";
  }

  20% {
      content: "Web Devel|";
  }

  20.5% {
      content: "Web Deve|";
  }

  21% {
      content: "Web Dev|";
  }

  22.5% {
      content: "Web De|";
  }

  23% {
      content: "Web D|";
  }

  23.5% {
      content: "Web |";
  }

  24% {
      content: "Web D|";
  }

  24.5% {
      content: "Web De|";
  }

  25% {
      content: "Web Des|";
  }

  26% {
      content: "Web Desi|";
  }

  27% {
      content: "Web Desig|";
  }

  28% {
      content: "Web Design|";
  }

  29% {
      content: "Web Designe|";
  }

  30% {
      content: "Web Designer|";
  }

  31% {
      content: "Web Designer|";
  }

  32% {
      content: "Web Designe|";
  }

  33% {
      content: "Web Design|";
  }

  34% {
      content: "Web Desig|";
  }

  35% {
      content: "Web Desi|";
  }

  36% {
      content: "Web Des|";
  }

  37% {
      content: "Web De|";
  }

  38% {
      content: "Web D|";
  }

  39% {
      content: "Web |";
  }

  40% {
      content: "Web|";
  }

  41% {
      content: "We|";
  }

  42% {
      content: "W|";
  }

  43% {
      content: "|";
  }

  44% {
      content: "F|";
  }

  45% {
      content: "Fr|";
  }

  46% {
      content: "Fro|";
  }

  47% {
      content: "Fron|";
  }

  48% {
      content: "Front|";
  }

  49% {
      content: "Fronte|";
  }

  50% {
      content: "Fronten|";
  }

  51% {
      content: "Frontend|";
  }

  52% {
      content: "Frontend |";
  }

  53% {
      content: "Frontend D|";
  }

  54% {
      content: "Frontend De|";
  }

  55% {
      content: "Frontend Dev";
  }

  56% {
      content: "Frontend Deve|";
  }

  57% {
      content: "Frontend Devel|";
  }

  58% {
      content: "Frontend Develo|";
  }

  59% {
      content: "Frontend Develop|";
  }

  60% {
      content: "Frontend Develope|";
  }

  61% {
      content: "Frontend Developer|";
  }

  62% {
      content: "Frontend Developer|";
  }

  63% {
      content: "Frontend Develope|";
  }

  64% {
      content: "Frontend Develop|";
  }

  65% {
      content: "Frontend Develo|";
  }

  66% {
      content: "Frontend Devel|";
  }

  67% {
      content: "Frontend Deve|";
  }

  68% {
      content: "Frontend Dev|";
  }

  69% {
      content: "Frontend De|";
  }

  70% {
      content: "Frontend D|";
  }

  71% {
      content: "Frontend |";
  }

  72% {
      content: "Frontend|";
  }

  73% {
      content: "Fronten|";
  }

  74% {
      content: "Fronte|";
  }

  75% {
      content: "Front|";
  }

  76% {
      content: "Fron|";
  }

  77% {
      content: "Fro|";
  }

  78% {
      content: "Fr|";
  }

  79% {
      content: "F|";
  }

  80% {
      content: "|";
  }

  81% {
      content: "|";
  }

  82% {
      content: "G|";
  }

  83% {
      content: "Gr|";
  }

  84% {
      content: "Gra|";
  }

  85% {
      content: "Grap|";
  }

  86% {
      content: "Graph|";
  }

  87% {
      content: "Graphi|";
  }

  88% {
      content: "Graphic|";
  }

  89% {
      content: "Graphic |";
  }

  90% {
      content: "Graphic |";
  }

  91% {
      content: "Graphic D|";
  }

  92% {
      content: "Graphic De|";
  }

  93% {
      content: "Graphic Des|";
  }

  94% {
      content: "Graphic Desi|";
  }

  95% {
      content: "Graphic Desig|";
  }

  96% {
      content: "Graphic Design|";
  }

  97% {
      content: "Graphic Designe|";
  }

  98% {
      content: "Graphic Designer|";
  }

  99% {
      content: "Graphic Designer|";
  }

  100% {
      content: "Graphic Designer|";
  }
}

.sectionRegister {
  background-color: rgba(10, 157, 170, 0.647) !important;
  padding: 100px;
}

.team3previewimg img{
  width: 500px;
  margin: auto;
  height: 500px;
}

.previewsectionrow2 {
  padding: 0px 80px;
  margin: auto;
}

.previewsection {
  background-color: rgba(223, 222, 222, 0.603) !important;
  padding-bottom: 30px;
}

.aboutlef img {
  border-radius: 20px;
  transition: all ease 2s;
}

.aboutlef img:hover {
  transform: scale(1.1);
}

.navimg img {
  transition: all ease 1s;
}

.navimg img:hover {
  transform: scale(1.25);
}

.coursessection {
  padding: 10px;
}

.coursessectionrow1 {
  margin: 50px;
  text-align: center;
}

.navbackgroundmo {
  background-color: rgba(10, 157, 170, 0.647) !important;
}

.coursessectionrow1 h1 {
  margin-bottom: 10px;
}


.sectioncoursesrow1 {
  margin: 50px;
  text-align: center;
}

.navbackgroundmo {
  background-color: rgb(98, 202, 205, 0.5) !important;
}

.sectioncoursesrow1 h1 {
  margin-bottom: 10px;
}

.titleline {
  width: 4rem;
  height: 7px;
  color: black;
  background-color: black;
  margin: auto;
  border-radius: 20px;
  transition: width 2s;
}

.titleline:hover {
  width: 9rem;
}

.sectioncoursesrow2 {
  margin: 50px;
  text-align: center;
}
.sectioncoursesrow2 .mocol {
  transition: all ease 0.5s;
}

.sectioncoursesrow2 .mocol img {
  width: 100%;
  border-radius: 20px;
}
.sectioncoursesrow2 .mocol:hover {
transform: scale(1.1);
}
.footersection {
  padding: 10px;
  background-color: rgba(10, 157, 170, 0.5) !important;
  text-align: center;
  overflow: hidden;
}

.footersection img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 0px 20px 20px;
  transition: all ease 1s;
}

.footersection img:hover {
  transform: scale(1.3);
}

.footersection a {
  text-decoration: none;
}

.footersection p {
  font-size: 30px;
  font-weight: 600;
  transition: all ease 1s;
}
.footersection p:hover {
  font-size: 25px;
  transform: scale(1.2);
  color: rgba(0, 60, 255, 0.5);
}


.totopicon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.totopicon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-caption h5 {
  font-size: 30px;
  font-weight: 800;
}

.carousel-caption p {
  font-size: 20px;
}
.button-selection {
  position: relative;
}

.button-selection .logindiv {
  position: absolute;
  top: 0px;
  right: 20px;
}

.button-selection .logindiv a {
  text-decoration: none;
}